body{
    display: flex;
    justify-content: center;    
    text-align: center;
}
.contenaire{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
    margin-top: 200px;
}
.class{
    background-color: rgb(245, 245, 36);
    border: 8px solid yellow;
    text-align: center;
}   